.profile {
	margin: 0 auto;
	margin-top: 50px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid #000;
	line-height: 1.5;
	overflow: hidden;
	ul {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #4d4343;
		li {
			padding: 5px;
			width: 100%;
			background-color: #c4c4c4;
			display: flex;
			flex-direction: column;
			align-items: center;
			span:last-child {
				font-weight: 700;
			}
		}
		li:not(:last-child) {
			border-right: 1px solid #4d4343;
		}
	}
}

.profile-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f1f1f1;
	p:first-of-type {
		font-weight: 700;
		margin-bottom: 7px;
	}
	p:not(:first-of-type) {
		opacity: 0.7;
	}
	img {
		margin-bottom: 10px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: #6e6464;
	}
}
